@using Clients.WebClient.Models.Catalog;

@model ProductDto
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        @ViewBag.Name
    </div>
    <div class="card-body">
        <form asp-action="Save" asp-controller="Product" method="post">
            <input asp-for="ProductId" type="hidden" />
            <div class="mb-2">
                <label class="form-label">Name</label>
                <input type="text" class="form-control form-control-sm" asp-for="Name" />
            </div>
            <div class="mb-2">
                <label class="form-label">Description</label>
                <input type="text" class="form-control form-control-sm" asp-for="Description" />
            </div>
            <div class="mb-2">
                <label class="form-label">Price</label>
                <input type="text" class="form-control form-control-sm" asp-for="Price" />
            </div>
            <div class="mb-2">
                <label class="form-label">Stock</label>
                <input type="text" class="form-control form-control-sm" asp-for="Stock" />
            </div>
            <button type="submit" class="btn btn-success btn-sm">Save</button>
            <a asp-action="Index" asp-controller="Product" class="btn btn-warning btn-sm">Return</a>
        </form>
    </div>
</div>